@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* UTILITY */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* SECTION */

.title {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: #e53170;
    padding-block: 50px;
}

.description {
    text-align: center;
    padding-bottom: 50px;
}

/* CARD */

.card {
    margin-right: 30px;
    margin-bottom: 50px;
    float: left;
    width: calc((100% - 60px) / 3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card__image {
    float: left;
    display: block;
    height: 100px;
    aspect-ratio: 1 / 1;
    margin-right: 15px;
}

.card__content {
    height: 100px;
    padding: 10px;
    background-color: #0f0e17;
}

.card__name {
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 5px;
}

.card__job {
    color: #FFF;
    margin-bottom: 5px;
}

.card__mail {
    color: #2d9ce0;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #222222;
    color: #FFF;
    padding-block: 40px 80px;
}